--- 
--- 


.post-excerpt {
  display: inline-flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  width: 350px;
  max-width: calc(100% - 20px - 20px);
  margin: 20px;
  background: var(--background);
  border-radius: var(--rounded);
  overflow: hidden;
  box-shadow: var(--shadow);
  vertical-align: top;
}

.post-image {
  aspect-ratio: 3 / 2;
  object-fit: cover;
  width: 100%;
}

.post-excerpt>* {
  margin: 0 !important;
}

.post-excerpt>a:first-child {
  width: 100%;
  font-weight: var(--semi-bold);
}

.post-excerpt>div {
  justify-content: flex-start;
}

.post-excerpt>p {
  width: 100%;
}