{% assign post = site.posts
| where_exp: "post", "post.slug == include.lookup"
| first
| default: include
%}

<div class="post-excerpt">
  {% assign url = post.url %}
  {% assign title = post.title %}

  
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}"
    {% endif %}
    aria-label="{{ include.title | default: "card link" }}"
    class="card-image"
  >
    <img
      src="{{ include.image | relative_url }}"
      alt="{{ include.title | default: "card image" }}"
      loading="lazy"
      {% include fallback.html %}
    >
  </a>

  <a href="{{ url | relative_url }}">{{ title }}

  </a>
  
  {%
  include post-info.html
  published=post.date
  %}

  <p data-search="{{ search }}">
    {{ excerpt }}
  </p>
</div>